body {
    background-color: #e2e5e7;
    overflow-y: scroll;
}

.navbarLinks {
    text-decoration: none;
    color: #292b2c;

}

.navbarLinks:hover {
    text-decoration: none;
    color: #292b2c;
}
